@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");

/* Colors */
:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 55%);
  --very-darkgray: hsl(0, 0%, 41%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 82.5%;
}

body {
  font-family: "Alata", sans-serif;
  font-size: 1.2rem;
  /* font-family: 'Josefin Sans', sans-serif; Heading fonts */
}
/* main{
    padding: 0 15rem;
} */

/* Hero section styling */
.hero-sec {
  background-image: url(../images/desktop/image-hero.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 90vh;
  width: 100%;
  max-width: 100%;
  color: var(--white);
  padding: 3rem 15rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  /* outline: 2px solid white; */
}
.nav-link {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}

.nav-cta{
  position: relative;
}

.nav-cta:after {
  content: "";
  position: absolute;
  width: 0;
  transform: scaleX(1);
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: var(--white);
  transform-origin: bottom left;
  transition: 0.25s ease-out;
}

.nav-cta:hover:after{
  width: 100%;
}

.nav-logo {
  font-size: 2rem;
  font-weight: 600;
}
.menu-hamburger{
  display: none;
}
a {
  text-decoration: none;
  color: white;
}
li {
  list-style: none;
}
/* HERO CONTENT */
.hero-content {
  margin-top: 10rem;
  width: 100%;
  padding: 2.5rem;
  width: 650px;
  border: 1px solid var(--white);
  font-family: "Josefin Sans", sans-serif;
  font-size: 3.5rem;
  font-weight: 300;
  text-transform: uppercase;
}

/* ABOUT SECTION */
.about-sec {
  padding: 10rem 15rem;
  display: flex;
}
.about-img {
  width: 100%;
}
.about-content {
  background-color: var(--white);
  color: var(--black);
  width: 60%;
  padding: 6rem 0 0 6rem;
  margin-top: 15rem;
  margin-left: -25rem;
}

.about-content h2 {
  font-size: 3.5rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  padding-bottom: 1rem;
}

.about-content p {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.8;
}

/* OUR CREATIONS SECTION */
.creations-sec {
  padding: 0rem 15rem;
}

.creations-head {
  display: flex;
  justify-content: space-between;
}
.creations-head h3 {
  font-size: 3.5rem;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
}
.creations-head button {
  background: none;
  border: 2px solid var(--black);
  padding: 0rem 4rem;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: 0.4rem;
  font-family: inherit;
  color: var(--black);
}

.creations-head button:hover{
  background-color: var(--black);
  color: var(--white);
}
.creations-image{
  display: none;
}

.image-grid {
  display: grid;
  grid-template-areas:
    "a"
    "b"
    "c"
    "d"
    "e"
    "f"
    "g"
    "h";
  width: 100%;
  gap: 2rem;
  padding: 5rem 0;
}

.image {
  position: relative;
}

.image:hover{
  opacity: 0.3;
}

.image:nth-child(1) {
  grid-area: a;
}
.image:nth-child(2) {
  grid-area: b;
}
.image:nth-child(3) {
  grid-area: c;
}
.image:nth-child(4) {
  grid-area: d;
}
.image:nth-child(5) {
  grid-area: e;
}
.image:nth-child(6) {
  grid-area: f;
}
.image:nth-child(7) {
  grid-area: g;
}
.image:nth-child(8) {
  grid-area: h;
}

@media (min-width: 450px) {
  .image-grid {
    grid-template-areas:
      "a b c d"
      "e f g h";
  }
}

figcaption {
  position: absolute;
  bottom: 1rem;
  padding: 2rem;
  font-size: 2rem;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  color: var(--white);
}

figcaption:hover{
  color: var(--black);
}

/* -- Beginning of footer styling */
footer {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  padding: 3rem 15rem;
  background-color: var(--black);
  color: var(--white);
}
/* .hiddennav{
  display: none;
} */

.footer-cta ul {
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
  padding-top: 3rem;
}

.footer-links{
  position: relative;
}

.footer-links:after{
  position: absolute;
  content: "";
  height: 2px;
  width: 0;
  transform: scaleX(1);
  bottom: -6px;
  left: 0;
  background-color: var(--white);
  transform-origin: bottom left;
  transition: 0.25s ease-out;
}

.footer-links:hover::after{
  width: 100%;
}

.social-icons ul {
  display: flex;
  /* justify-content: space-between; */
  gap: 1.5rem;
  align-items: center;
  padding-bottom: 3rem;
  font-size: 1.7rem;
}

.social-media{
  position: relative;
}
.social-media:after{
  position: absolute;
  height: 1px;
  bottom: -5px;
  width: 0;
  left: 0;
  transform: scaleX(1);
  content: "";
  background-color: var(--white);
  transition: 0.25s ease-in-out;
}
.social-media:hover:after{
  width: 100%;
}
.social-icons p {
  color: var(--dark-gray);
}

.navlogo-ft {
  font-size: 1.8rem;
}


/* MOBILE DESIGN STYLING */

@media  (max-width:500px) {
  /* HERO SECTION */
  .hero-sec{
    padding: 2rem;
    width: 100%;
    position: relative;
    height: 80vh;
    background-image: url(../images/mobile/image-hero.jpg);
    background-attachment: scroll;
  }

  .nav-link{
    display: none;
  }
  .nav-mobile{
    position: absolute;
    top: 0;
    display: block;
    padding: 4rem 2.5rem;
    background: var(--black);
    color: var(--white);
    width: 100%;
    height: 100vh;
  }
  .menu-hamburger{
    display: block;
    cursor: pointer;
  }
  .mobile-logo{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 10rem;
  }
  .mobile-logo img:hover{
    cursor: pointer;
    translate:0% 10%;
  }
  .nav-cta{
    padding: 1rem 0;
    font-family:"Josefin Sans", sans-serif;
    font-size: 2.5rem;
    text-transform: uppercase;
  }
  .nav-cta:hover:after{
    width: 0;
  }
  .hiddennav{
    display: none;
  }
  .deskhidden{
    display: none;
  }

  /* HERO CONTENT */
  .hero-content{
    border-width: 2px;
    width: inherit;
    padding: 1.5rem;
    font-size: 2rem;
  }

  /* ABOUT SECTION */
  .about-sec{
    display:block;
    width: 100%;
    padding: 0 2rem;
    padding-top: 8rem;
    padding-bottom: 3rem;
  }
  .about-img img{
    width: 100%;
  }
  .about-content{
    position: relative;
    width: 100%;
    border: none;
    margin: 0;
    text-align: center;
    padding: 3rem 1rem;
  }
  .about-content h2{
    font-size: 2.5rem;
    padding-bottom: 1.5rem;
  }
  .about-content p{
    color: var(--dark-gray);
  }

  /* CREATION SECTION */
  .creations-sec{
    padding:  2rem;
    text-align: center;
    width: 100%;
    margin-bottom: 3rem;

  }
  .creations-head{
    position: relative;
    width: 100%;
  }
  .creations-head h3{
    font-size: 2.5rem;
    width: 100%;
  }
  .creations-image{
    display: block;
    width: 100%;
  }
  .cr-image{
    /* background-image: url(/images/mobile/image-deep-earth.jpg); */
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     width: 100%;
     text-align: left;
     padding: 5rem 0 1.5rem 1.5rem;
     margin: 2rem 0;
     color: var(--white);
  }
  .earth{
    background: url(../images/mobile/image-deep-earth.jpg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
  }
  .night{
    background: url(../images/mobile/image-night-arcade.jpg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
  }
  .team{
    background: url(../images/mobile/image-soccer-team.jpg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
  }
  .grid{
    background: url(../images/mobile/image-grid.jpg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
  }
  .above{
    background: url(../images/mobile/image-from-above.jpg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
  }
  .pocket{
    background: url(../images/mobile/image-pocket-borealis.jpg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
  }
  .curiosity{
    background: url(../images/mobile/image-curiosity.jpg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
  }
  .fisheye{
    background: url(../images/mobile/image-fisheye.jpg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
  }
  .creations-head{
    position: relative;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
  }
  .creations-head button{
    position: absolute;
    text-align: center;
    /* top: 0;
    left: 50%;
    right: 50%; */
    bottom: -113rem;
    padding: 1rem 2.5rem;
    
  }

  /*  .cr-image:hover{
    opacity: 0.5;
    color: red; 
  } */
  .cr-image p{
    font-family:"Josefin Sans", sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
  }

  /* FOOTER STYLING */
  footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    padding: 2rem;
    margin-top: 9rem;
  }


  .footer-cta ul{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

  }
  .social-icons ul{
    text-align: center;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 1rem;
  }
  .footer-links{
    width: 100%;
  }
  .footer-links:hover:after{
    width: 0;

  }

}
